@import "tailwindcss";



body{
    background-color: rgb(26, 23, 23);
}
textarea{
    overflow:hidden;
    resize:none
}
#message::-webkit-scrollbar{
    display:none;
}
#message{
    -ms-overflow-style:none;
}